header {
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =======================  CTA  ====================*/
.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ======================= HEADER SOCIALS ====================*/
.header__socials {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    margin: 1rem;
}

/* ======================= PHOTO2 ====================*/
.me {
    background: linear-gradient(var
    (--color-primary), transparent);
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 15rem);
    margin-top: 1.5rem;
    border-radius: 0rem 3rem 0 3rem;
    overflow: hidden;
    padding: 1.rem;
}

/* ==================== MEDIA QUERIES (MED) =======================*/

@media screen and (max-width: 768px) {
    header {
        height: 68vh;
    }
}

/* ==================== MEDIA QUERIES (SMALL) =======================*/

@media screen and (max-width: 595px) {
    header {
        height: 100vh;
    }
}
